body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

h3 {
  align-content: center;
  color: purple;
}

img {
  padding: 10px;
  margin: 10px;
  border-radius: 10%;
}

canvas {
  border-radius: 10%;
  position: absolute;
  width: 600px;
  height: 434.11px;
}

.card-view {
  position: absolute;
  width: 600px;
  height: 434.11px;
}

.bordered-image {
  border: 5px solid purple;
}

.centered-header {
  text-align: center;
  padding: 10px;
  margin: 10px;
}

.centered {
  padding: 10px;
  margin: 10px;
  position: absolute;
  left: 50%;
}

.btn {
  background-color: purple;
  border: purple;
  margin: 20px 10px;
}

.final-card-button {
  position: relative;
  display: inline-block;
  top: 420px;
}

.empty-div {
  height: 500px;
  width: 100vh;
}

.hidden {
  display: none;
}

#card-view {
  justify-content: center;
}

#card-view-button {
  margin-left: 20%;
}

#logo {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.user-cards {
  display: flex;
  flex-wrap: wrap;
}

.test-image {
  width: 600px;
  position: absolute;
}
.envelope {
  position: fixed;
  width: 600px;
  height: 434.11px;
  border-radius: 4px;
  background: no-repeat;
  background-image: url('envelope.png');
  background-size: 600px 434.11px;
}

.envelope-text {
  font-family: 'Brush Script MT', cursive;
  font-size: 2em;
  left: 100px;
  text-align: center;
  margin: 80px;
}

#card,
#final-card,
#card-view {
  display: flex;
  justify-content: center;
}

.button-container {
  display: flex;
  justify-content: center;
}

.templates-container {
  display: flex;
  flex-wrap: wrap;
}

.image-div {
  width: 300;
}
