body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

h3 {
  align-content: center;
  color: purple;
}

img {
  padding: 10px;
  margin: 10px;
  border-radius: 10%;
}

.bordered-image {
  border: 5px solid purple;
}

.centered-header {
  text-align: center;
  padding: 10px;
  margin: 10px;
}

.centered {
  padding: 10px;
  margin: 10px;
  position: absolute;
  left: 50%;
}

.btn {
  background-color: purple;
  border: purple;
}

.empty-div {
  height: 500px;
  width: 100vh;
}
